<h1>Misspelled Record</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @misspelled_record[:name] %></td>
      <td><%= @misspelled_record[:address] %></td>
      <td><%= @misspelled_record[:phone] %></td>
    </tr>
  </tbody>
</table>
